.git
.vs
**/.vscode
**/bin
**/obj
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.bak
**/*.log
logs/
secrets/
.editorconfig
.gitattributes
.gitignore
Mini CA.sln
Documentation/
docker-compose.yaml
docker-push-instructions.md
dockerize-mini-ca.md
